<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Liste {{liste.liste_title}}</title>
</head>
<body>
    <div class="card text-center m-5" style="width: 18rem;">
        <div class="card-header">
            {{liste.liste_title}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Status: {{ liste.get_liste_status_display }}</h5>
          <p class="card-text">{{ liste.liste_text }}
            <form action="{% url 'to_do_app:new_detail' liste.liste_title %}" method="post" id="choice">
                <div class="form-group">
                    {% csrf_token %}
                    <select id="choice" name="choice" form="choice">
                        <option value="1">Todo</option>
                        <option value="2">Done</option>
                        <option value="3">Canceled</option>
                    </select>
                </div>    
          </p>
            <button type="submit" class="btn btn-primary" value="Change the status">Change the status</button></form>
            <a href="{% url 'to_do_app:index' %}" class="card-link">Zurück</a>
        </div>
        <div class="card-footer text-muted">
            {{liste.pub_date}}
        </div>
      </div>
</body>
</html>