<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>To Do - Listen</title>
</head>
<body>
    <div class="container justify-content-center">
        <div class="row justify-content-center mt-md-3">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Neue Liste anlegen</h3>
                        <form action="{% url 'to_do_app:new_list' %}" method="post">
                            <div class="form-group">
                                {% csrf_token %}
                                <label for="title">Name of Liste:</label><br>
                                <input type="text" class="form-control" id="title" name="title"><br>
                            </div>
                            <div class="form-group">
                                <label for="text">Text of Liste:</label><br>
                                <textarea id="text" class="form-control" name="text"></textarea><br> 
                            </div>    
                            <div class="form-group">      
                                <select class="form-control" id="choice" name="choice">
                                <option value="1">Todo</option>
                                <option value="2">Done</option>
                                <option value="3">Canceled</option>
                                </select>
                            </div> 
                            <button type="submit" class="btn btn-primary" value="new_list">Anlegen</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5 ml-5">
                <h3>All Listen</h3>
                <hr>
                {% if latest_listen %}
                <ol>
                {% for list in latest_listen %}
                <li><a href="{% url 'to_do_app:detail' list.liste_title %}">{{ list.liste_title }}</a></li>
                {% endfor %}
                </ol>
                {% else %}
                <p> No Listen </p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row row-cols-md-3 mt-md-5">
            <div class="col-12">  
                <div class="d-flex justify-content-right">           
                    <div class="spinner-grow text-danger spinner-border-sm" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <h3 class="ml-3">To Do Listen</h3>
                </div><hr>
                {% if to_do_listen %}
                <ol>
                {% for a in to_do_listen %}
                <li><a href="{% url 'to_do_app:detail' a.liste_title %}">{{ a.liste_title }}</a></li>
                {% endfor %}
                </ol>
                {% else %}
                <p> No Listen </p>
                {% endif %}
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-right">           
                    <div class="spinner-grow text-success spinner-border-sm" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <h3 class="ml-3">Done Listen</h3>
                </div><hr>
                {% if done_listen %}
                <ol>
                {% for a in done_listen %}
                <li><a href="{% url 'to_do_app:detail' a.liste_title %}">{{ a.liste_title }}</a></li>
                {% endfor %}
                </ol>
                {% else %}
                <p> No Listen </p>
                {% endif %}
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-right">           
                    <div class="spinner-grow text-dark spinner-border-sm" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <h3 class="ml-3">Canceled Listen</h3>
                </div><hr>
                {% if canceled_listen %}
                <ol>
                {% for a in canceled_listen %}
                <li><a href="{% url 'to_do_app:detail' a.liste_title %}">{{ a.liste_title }}</a></li>
                {% endfor %}
                </ol>
                {% else %}
                <p> No Listen </p>
                {% endif %}
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            </div>
        </div> 
    </div>
</body>
</html>